
body {
    font-family: 'Montserrat', sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#hero-wrapper {
    height: 100%;
    width: 100%;
}
#hero-wrapper .carousel-wrapper,
#hero-carousel {
    height: 100%;
    width: 100%;
    position: absolute;
}
#hero-carousel img {
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: auto;
    height: auto;
}
#hero-carousel i {
    position: absolute;
    top: 50%;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}

.div-1 {
    padding-left: 15%;
}

.move-div {
    padding-left: 10%;
}

.spacing-div {
    margin-top: 4%;
}

.div-2 h3 {
    font-size: 20px;
    line-height: 0px;
    letter-spacing: -1px;
    color: #929292;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 7%;
}

.div-2 h2 {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -1px;
    margin-bottom: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin-top: 0%;
}

.div-2 ul {
    padding-left: 6%;
    padding-right: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.div-2 p {
    font-size: 10px;
}

.div-2 .first-p {
    padding-top: 10px;
}

.div-4 {
    margin-left: -5%;
    margin-top: -1%;
}

footer {
    background-color: #EBEBEB;
}

.footer-cat {
    padding-bottom: 100px;
    text-align: center;
}

.footer-cat ul li:first-child {
    margin-left: 0;
}

.footer-cat ul li {
    list-style: none;
    padding: 5px;
    margin: 42px 10px;
    position: relative;
    font-size: 12px;
    line-height: 19px;
    display: inline-block;
}

.footer-cat .light-font {
    font-weight: 300;
}

.footer-cat ul li a {
    margin-right: 20px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.semibold-font {
    font-weight: 600;
}